In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
file_path = r'C:\\Users\\mshus\\Google Drive\\Data Science - Springboard\\Capstone Project 2\\Data\df_clean.csv'

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.head()

         Date  confirmed       High
0  2020-01-22          1  58.970001
1  2020-01-23          1  57.980000
2  2020-01-24          2  57.799999
3  2020-01-27          5  55.689999
4  2020-01-28          5  56.090000